.background {
    position: fixed;
    top: 0;
    transform: rotate(98deg);
    left: 0;
    z-index: -1;
}

/* main wave */
.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #0af;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 12500ms infinite linear;
}

/* animation */
@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}